/* Import a monospaced font if you don't have one already */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #161616;
}

.heading {
    position: absolute;
    top: 5%;
    left: 10%;
    font-family: 'VT323', monospace;
    color: #00ff00;
    font-size: 3em;
    text-align: center;
    margin: 20px 0;
    z-index: 100;
    text-shadow: 0 0 2px #00ff00, 0 0 5px #00ff00,
        0 0 20px #00ff00;

    animation: glow 2s infinite;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 2px #00ff00, 0 0 5px #00ff00,
            0 0 20px #00ff00
    }

    50% {
        text-shadow: none;
    }

    100% {
        text-shadow: 0 0 2px #00ff00, 0 0 5px #00ff00,
            0 0 20px #00ff00
    }

}